:root {
  --green: #54e6af;
  --dark-grey: #2c344b;
  --medium-grey: #5a668a;
  --light-grey: #c2cbe5;
  --black-blue: #121725;
  --white: #ffffff;
}

html,
body {
  margin: 0;
  font-family: "Chivo", sans-serif;
  font-weight: 200;
  font-size: 18px;
  background-color: var(--black-blue);
  height: 100vh;
  position: relative;
}

h1,
h2,
p {
  margin-top: 0;
  color: var(--white);
  font-weight: 100;
}

h1,
h2 {
  font-size: 52px;
  line-height: 62px;
  font-weight: 200;
  text-transform: uppercase;
}

h1 {
  color: var(--green);
  margin-bottom: 0;
}

/* -------------- GLOBAL POSITION --------------- */
.container {
  margin: auto;
  /* border: 1px solid magenta; */
  height: 650px;
  position: relative;
  top: calc((100vh - 650px) / 2);
  margin-left: 10vw;
}

.header {
  /* border: 1px solid blue; */
  width: 700px;
  text-align: left;
  z-index: 1;
  background-color: var(--black-blue);
  position: absolute;
  bottom: 0;
  left: 0;
}

.background-img {
  text-align: right;
  z-index: 0;
  /* border: 1px solid red; */
  position: absolute;
  bottom: 0;
  right: 0;
}

/* --------------------- HEADER ----------------------- */
.header {
  padding-top: 4em;
}

.paragraph {
  width: 450px;
  opacity: 80%;
  line-height: 28px;
}

/* -------------------- FORM -------------------------- */
form {
  position: relative;
}

input {
  text-decoration: none;
  padding: 20px 40px;
  width: 350px;
  border-radius: 40px;
  border: none;
  outline-style: none;
  background-color: var(--dark-grey);
  margin: 40px 0;
}

::placeholder {
  color: var(--medium-grey);
  font-weight: 700;
}

::placeholder:active {
  color: var(--white);
}

form button {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 45px;
  left: 270px;
  background-color: var(--green);
  font-weight: 700;
}
